{{#if bookings}}
    <div class="col mb-4">

        <div class="card">
          {{!-- auto-images --}}
          <img src="{{img_path}}" alt="" class="card-img-top img-fluid">
          {{!-- auto-images --}}
          <div class="card-body">
            <h2 class="card-title">{{facility}}</h2>
          </div>
        </div>

      </div>
{{/if}}